*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box
}
body{
    background: url("../images/GoT_background.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed; 
    background-position: center;
    font-family: 'Cinzel', serif;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.modal{
    top:15%; 
}
.modal-content{
    background: url("../images/bg_modal.jpg");
    background-size:cover ;
    background-repeat: no-repeat;

}
.title{
    text-align: center;
    position: relative;
    font-size: 7vh;
}   
 #mute,#play{
    height:5vh;
    cursor: pointer;
    margin:1%
 }
.card{
    width:100px;
    height:120px;
    border:1px solid white;
    position: relative;
    transform-style:preserve-3d;
    transition: transform 0.5s;
    background-size:cover;
    border-radius: 20%;
    margin:1%;
    cursor: pointer;
}
.card.col-xs-1{
    width:65px;
    height:80px
}
.flip {
    transform: rotateY(360deg);
    pointer-events: none;

}
#newGame{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5vh;
    cursor: pointer;
}

@media (max-width : 767px) {
    .card{
        width : 75px;
        height: 90px;
    }
    .title{
        font-size: 6vh;
    }
}
@media (max-width : 350px) {
    .card{
        width : 50px;
        height: 60px;
    }
    .title{
        font-size: 4vh;
    }
}
@media (max-width : 220px) {
    .card{
        width : 32px;
        height: 40px;
    }
}