*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    background: url("../images/GoT_background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.title{
    text-align:center;
    font-family: 'Black And White Picture', sans-serif;
}
.container{ 
    width:90%;
    text-align: center;
    
}
.row{
    display: flex;
    justify-content: space-evenly;
    
}
.card{
    text-align: center;
    width:100px;
    height:120px;
    border:1px solid white;
}

